

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#BD97CB;
  padding-top: 20px;
}

.navbar-brand {
  padding:5px;
  text-align: center;
  font-weight: bold;
  color:white;
  margin-bottom: 10px;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  padding: 8px 16px;
  margin-bottom: 10px;
}

.nav-item:last-child {
  margin-bottom: 0;
}

.nav-link {
  display: block;
  color: #007bff;
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  background-color: #ddd;
  color: #0056b3;
}
